* {
    box-sizing: border-box;
    margin:0;

}
:root{
    --color1: rgb(255, 0, 98);
    --color2: rgb(231, 130, 147);
    --color3: blue;
    --color4: rgb(0, 255, 170);
    --border: double 2rem var(--color1)
}
