* {
    box-sizing: border-box;
    margin:0;

}
:root{
    --color1: rgb(255, 0, 98);
    --color2: rgb(231, 130, 147);
    --color3: blue;
    --color4: rgb(0, 255, 170);
    --border: solid 0.05rem var(--color1)
}

.box {
    border: var(--border);
}
#container {
    display: flex;
    flex-flow:column nowrap;
    height: 310rem;
    width:220rem;
}